  body
    {
		background-color: #99bbc1;
		margin-top: 40px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		font-family: open-sans;
		font-style: normal;
    }
    #navigation_bar
    {
        background-color: #FFFFFF;
        border-bottom:0;
		height:70px;
    }
    #white_section
    {
        background-color: #FFFFFF;
        height:30px;
        border-top:0;
		border-bottom:00
    }
    #footer
    {
        background-color: #FFFFFF;
        height:65px;
        border-top:0;
    }
	
    a:link
	{
	color: #000000;
	text-decoration: none;
	}
	
	a:visited
	{
		color: #000000;
		text-decoration: none;
	}
	
	a:hover
	{
		text-decoration: underline;
	}
	
	a:active
	{
		text-decoration: none;
	}